body {
    background-color: rgb(41, 53, 65);
}

h1 {
    color: black;
    background-color: white;
    text-align: center;
    width: 30%;
    margin: 20px auto;
    border: 3px solid brown;
}

h2 {
    color: white;
    background-color: black;
    text-align: center;
    width: 30%;
    margin: 0 auto;
    border: 2px solid white
}

p {
    background-color: bisque;
    color: black;
    font-size: 18px;
    padding: 5px;
    border: 5px solid pink;
}

img {
    height: 300px;
    width: auto;
    margin: 10px auto;
    display: block;
}

.index-list {
    background-color: bisque;
    color: black;
    text-align: center;
    margin: 20px auto;
    border: 2px solid red;
    padding: 5px;
    list-style: none;
    font-size: 18px;
    width: 60%;
}

.ingredients { 
    background-color: bisque;
    color: black;
    padding: 25px;
    margin: 10px 10px;
    border: 5px solid pink;
}

.steps {
    background-color: bisque;
    color: black;
    padding: 25px;
    margin: 10px 10px;
    border: 5px solid pink;
}