body {
    background-color: rgb(41, 53, 65);
}

h1 {
    color: black;
    background-color: white;
    text-align: center;
    width: 30%;
    margin: 20px auto;
    border: 3px dotted brown;
}

h2 {
    color: white;
    background-color: black;
    text-align: center;
    width: 30%;
    margin: 0 auto;
}

p {
    background-color: bisque;
    color: black;
    font-size: 18px;
}

img {
    height: 300px;
    width: auto;
    margin: 10px auto;
    display: block;
}

.index-list {
    background-color: aquamarine;
    color: black;
    text-align: center;
    width: 25%;
    margin: 20px auto;
    border: 2px solid red;
}

.ingredients { 
    background-color: bisque;
    color: black;
}

.steps {
    background-color: bisque;
    color: black;
}