body {
    background-color: rgb(41, 53, 65);
}

h1 {
    color: black;
    background-color: white;
    text-align: center;
    width: 40%;
    margin: 30px;
}

h2 {
    color: white;
    background-color: black;
    text-align: center;
    width: 30%;
}

p {
    background-color: bisque;
    color: black;
    font-size: 24px;
}

img {
    height: 300px;
    width: auto;
}

ul {
    background-color: aquamarine;
    color: black;
    text-align: center;
    width: 20%;
}

.ingredients { 
    background-color: bisque;
    color: black;
}

.steps {
    background-color: bisque;
    color: black;
}